.backgroundImage {
    background-image: url('../img/backgroundedit.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30rem;
  }
.sapUiFormResGrid.sapUiFormBackgrSolid, .sapUiFormResGrid.sapUiFormBackgrTranslucent {
    background-color: #0504048f;
    border-radius: .75rem;
}
